doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title Home Inventory
  script(src='/bower_components/jquery/dist/jquery.min.js')
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='//bootswatch.com/slate/bootstrap.min.css')
  link(rel='stylesheet', href='/style.css')
  script(src='/main.js') 
body

block content
